@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%; /* Adjust the padding to match the design */
}

.footer-section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

footer img {
  width: 100px; /* Adjust the logo size as needed */
}

h2 {
  margin-bottom: 10px; /* Space between the header and links */
  color: #333; /* Dark grey color for text */
  font-size: 1.2rem; /* Adjust the font size as needed */
}

.Link {
  color: #333; /* Dark grey color for links */
  margin-bottom: 5px; /* Space between links */
  text-decoration: none; /* No underline for links */
  font-size: 1rem; /* Adjust the font size as needed */
}


/* Remove the absolute positioning from the footer text */
.footer-text {
  text-align: center;
  color: white; /* Dark grey color for text */
  font-size: 1.6rem; /* Adjust the font size as needed */
  background-color: #008080; /* Teal color */
  height: 50%; /* Adjust the height as needed */
  width: 100%; /* Full width */
  font-family: 'Raleway', sans-serif;
}

/* Existing styles... */

/* Responsive adjustments for footer on mobile view */
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 20px; /* Add space between sections when stacked */
  }

  footer img {
    margin-bottom: 20px; /* Space between logo and footer content when stacked */
  }
}

/* Responsive adjustments for a cleaner mobile view for the candle cards */
@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr; /* One column for mobile screens */
    gap: 10px; /* Reduced gap for mobile screens */
  }

  .candle-card {
    border-radius: 5px; /* Smaller radius for mobile cards */
  }

  .candle-card-footer {
    padding: 10px; /* Reduced padding for mobile cards */
  }

  .candle-card-footer b,
  .candle-card-footer p {
    font-size: 0.9em; /* Smaller font size for mobile cards */
  }
}

/* Additional responsive adjustments */
@media (max-width: 768px) {
  h2 {
    font-size: 1rem; /* Smaller headers on mobile */
  }

  .Link {
    font-size: 0.9rem; /* Smaller link text on mobile */
  }

  .footer-text {
    font-size: 1.4rem; /* Smaller font size for footer text on mobile */
    padding: 15px 0; /* Adjust padding for mobile footer text */
  }
}

/* Apply Raleway font family globally */
body, button, input, textarea {
  font-family: 'Raleway', sans-serif;
}