.navbar-bg {
  background-color: #FFD700; /* Yellow background for the navbar */
  margin-bottom: 1rem;
  padding-bottom: 0rem;
}

.logo {
  display: flex;
  justify-content: space-between; /* This spreads out the logo and nav items */
  align-items: center; /* This centers the items vertically */
  padding: 1rem 3%; /* Adjust padding to match design and remove top padding */
}

/* Styles for navbar items to match the design */
.nav-link {
  color: #008080; /* Adjust the color to match your design, assumed purple here */
  font-size: 1.2rem; /* Adjust the font size as needed */
  font-weight: bold; /* For bold text */
  margin-right: 1rem; /* Add space to the right of each nav item */
}

/* Ensure NavbarContent uses flexbox to align items to the right */
.nav-content {
  display: flex;
  justify-content: flex-end; /* Align nav items to the right */
  width: 100%; /* Ensure the content takes full width to push items to the edge */
}

/* If you want to specifically target the "Candles" item for spacing */
.NavbarItem:not(:last-child) {
  margin-right: 1rem; /* Adjust the right margin as needed */
}


