.navbar-bg {
  background-color: #FFD700; /* Yellow background for the navbar */
  margin-bottom: 0; /* Remove bottom margin if not needed */
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: start; /* Center logo vertically */
  padding: 20px; /* Adjust vertical padding */
  margin-right: 60%;
}

.nav-link {
  color: #008080; /* If your text needs to be white */
  font-size: 1rem; /* Adjust the font size to match the design */
  font-weight: bold;
  margin-right: 1rem; /* Adjust right margin */
}

.nav-content {
  display: flex;
  justify-content: flex-end;
}

.NavbarItem:not(:last-child) {
  margin-right: 0.5rem; /* Adjust right margin */
}


.px-1 {
  /* Padding on the X-axis */
  padding-left: 0.25rem; /* You might need to adjust this value */
  padding-right: 0.25rem; /* You might need to adjust this value */
}

.py-2 {
  /* Padding on the Y-axis */
  padding-top: 0.5rem; /* You might need to adjust this value */
  padding-bottom: 0.5rem; /* You might need to adjust this value */
}

.text-small {
  /* Font size for small text */
  font-size: 0.875rem; /* You might need to adjust this value */
  background-color: #008080;
  border-radius: 10px;
  color: white;
}

.font-bold {
  /* Bold text */
  font-weight: bold;
}

.text-tiny {
  /* Font size for tiny text */
  font-size: 0.75rem; /* You might need to adjust this value */
}
