.navbar {
    background-color: #fff; /* Set the background color as needed */
  }
  
  .navbarLink {
    margin-right: 20px;
    color: #333; /* Set the color as needed */
    font-weight: 500;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logoText {
    margin-left: 8px;
  }